body {
  font-family: sans-serif;
}

.chat-window {
  background: #fff;
  height: 200px;
  width: 250px;
  border: 1px solid #acd8f0;
  overflow: scroll;
}
      .chat-window {
        position: fixed;
        bottom: -27px;
        right: 10px;
        width: 100%;
      }
      .nav-wrapper {
        position: fixed;
        top: 0px;
        position: sticky;
      }
      .speech-bubble1 {
        font-size: 1.2em;
        width: 75%;
        padding: 2%;
        position: relative;
        background: #cccccc;
        border-radius: 0.1em;
      }

      .speech-bubble1:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #cccccc;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
      }
      .speech-bubble2 {
        font-size: 1.2em;
        width: 75%;
        padding: 2%;
        position: relative;
        left: 25%;
        background: #03724d;
        border-radius: 0.1em;
      }

      .speech-bubble2:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #03724d;
        border-bottom: 0;
        border-right: 0;
        margin-right: -10px;
        margin-bottom: -20px;
      }
